{
    "discord":{
      "name":"mangaU",
      "token":"<YourDiscordTokenHere>"
    },
    "system":{
        "base":"/opt/mangaUpdater/Mangas/",
        "data":"/opt/mangaUpdater/.mangas/"
    },
    "database":{
        "name":"mangas.db",
        "table":"myMangas",
        "list":"mangalist.json"
    }
  }